<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="salesManagerMapper">

<!-- 영업정보  -->
<select id="selectSalesmanCombo" parameterType="java.util.Map" resultType="java.util.Map">
	SELECT SG.EMP_NO,
		CASE VED.HOOF_STAT_CD
			WHEN 'RT' THEN '[퇴직]'
			ELSE ''
		END + VED.EMP_NM AS EMP_NAME,
	    DI.COMPANY_CD,
	    SG.DEPT_CD,
	    DI.DEPT_KORN_NM AS DEPT_NM,
	    DI.BUSINESS_TYPE
	FROM SALES_GOAL SG
	JOIN (
			SELECT MAX(YEAR) AS `YEAR`, EMP_NO
			FROM SALES_GOAL
			WHERE YEAR <![CDATA[<=]]> YEAR(NOW())
			GROUP BY EMP_NO
		) 	SG2 ON (SG2.EMP_NO = SG.EMP_NO AND SG2.YEAR = SG.YEAR)
	JOIN T_SYTM_USER VED ON SG.DEPT_CD = VED.DEPT_CD
	JOIN T_SYTM_DEPT DI ON (SG.DEPT_CD = DI.DEPT_CD OR SG.DEPT_CD = DI.BEFO_DEPT_CD)
	WHERE DI.COMPANY_CD = #{COMPANY_CODE}
	<if test="BUSINESS_TYPE != null and BUSINESS_TYPE != ''">
	    AND DI.BUSINESS_TYPE = #{BUSINESS_TYPE}
	</if>
	GROUP BY SG.EMP_NO, DI.COMPANY_CD, SG.DEPT_CD, DI.DEPT_KORN_NM, DI.BUSINESS_TYPE, SG.YEAR, VED.EMP_NM
	ORDER BY SG.YEAR DESC, SG.DEPT_CD, VED.EMP_NM	  
</select>


<select id="selectSalesListS01" parameterType="java.util.Map" resultType="java.util.Map">
SELECT 
    CONT.PROJECT_CODE,
    CONT.PROJECT_NAME,
    CONT.CLIENT_CODE,
    COM.COMPANY_NM AS CLIENT_NAME,
    CONT.CONTRACT_NO,
    CL.CO_CD,
    DATE_FORMAT(CL.CONTRACT_DATE, '%Y%m%d') AS CONTRACT_DATE,
    CL.CONTRACT_TYPE,
    CL.SALES_EMP_NO,
    VE.EMP_NM AS SALES_EMP_NAME,
    CONT.CONTRACT_MAIN,
    (SELECT COMPANY_NM FROM SALES_COMPANY_LIST WHERE COMPANY_CD = CONT.CONTRACT_MAIN) AS CONTRACT_MAIN_NAME,
    CASE 
        WHEN CL.CONTRACT_TYPE IN ('P', 'G', 'E') THEN CONT.PROD_PRODUCT_CODE
        WHEN CL.CONTRACT_TYPE = 'S' THEN CONT.SI_PRODUCT_CODE
        WHEN CL.CONTRACT_TYPE = 'M' THEN CONT.MA_PRODUCT_CODE
        ELSE ''
    END AS PRODUCT_CODE,
    CASE 
        WHEN CL.CONTRACT_TYPE IN ('P', 'G', 'E') THEN PROD1.PRODUCT_NAME
        WHEN CL.CONTRACT_TYPE = 'S' THEN CD.SSC_CD_KORN_NM
        WHEN CL.CONTRACT_TYPE = 'M' THEN PROD2.PRODUCT_NAME
        ELSE ''
    END AS PRODUCT_NAME,
    (CONT.PROD_CONTRACT_PRICE + CONT.SI_CONTRACT_PRICE + CONT.MA_CONTRACT_PRICE) AS CONTRACT_AMT,
    CONT.PURCHASE_MAIN,
    (SELECT COMPANY_NM FROM SALES_COMPANY_LIST WHERE COMPANY_CD = CONT.PURCHASE_MAIN) AS PURCHASE_MAIN_NAME,
    (CONT.PROD_PURCHASE_PRICE + CONT.SI_PURCHASE_PRICE) AS PURCHASE_AMT,
    CASE 
        WHEN CONT.PUR_PRODUCT_CODE IS NOT NULL THEN PROD3.PRODUCT_NAME
        ELSE CD2.SSC_CD_KORN_NM
    END AS PURCHASE_PRODUCT_NAME,
    CL.CONTRACT_STATUS
FROM 
(
    SELECT  
        P.PROJECT_CD AS PROJECT_CODE,
        CL.CONTRACT_NO,
        P.PROJECT_NM AS PROJECT_NAME,
        P.CLIENT_CD AS CLIENT_CODE,
        CL.CONTRACT_MAIN,
        MAX(PROD.PRODUCT_CODE) AS PROD_PRODUCT_CODE,
        MAX(CSD.LEVEL_CODE) AS SI_PRODUCT_CODE,
        MAX(CMD.PRODUCT_CODE) AS MA_PRODUCT_CODE,
        SUM(IFNULL(CPD.CONTRACT_PRICE, 0)) AS PROD_CONTRACT_PRICE,
        SUM(IFNULL(CSD.CONTRACT_PRICE, 0)) AS SI_CONTRACT_PRICE,
        SUM(IFNULL(CMD.CONTRACT_PRICE, 0)) AS MA_CONTRACT_PRICE,
        CASE
            WHEN PPD.CONTRACT_MAIN IS NOT NULL THEN PPD.CONTRACT_MAIN
            WHEN PSD.CONTRACT_MAIN IS NOT NULL THEN PSD.CONTRACT_MAIN
        END AS PURCHASE_MAIN,
        MAX(PPD.PRODUCT_CODE) AS PUR_PRODUCT_CODE,
        MAX(PSD.LEVEL_CODE) AS PUR_SI_PRODUCT_CODE,
        SUM(IFNULL(PPD.CONTRACT_PRICE, 0)) AS PROD_PURCHASE_PRICE,
        SUM(IFNULL(PSD.CONTRACT_PRICE, 0)) AS SI_PURCHASE_PRICE
    FROM SALES_PROJECT_LIST P
    JOIN SALES_CONTRACT_LIST CL ON (P.PROJECT_CD = CL.PROJECT_CD AND CL.DELETE_FLAG = '0')
    LEFT JOIN  
    (
        SELECT CONTRACT_NO, SUM(CONTRACT_PRICE) AS CONTRACT_PRICE, MAX(PRODUCT_CODE) AS PRODUCT_CODE
        FROM SALES_CONTRACT_PRODUCT_DETAIL
        WHERE DELETE_FLAG = '0' AND IFNULL(CONTRACT_PRICE, 0) > 0
        GROUP BY CONTRACT_NO
    ) CPD ON (CL.CONTRACT_NO = CPD.CONTRACT_NO)
    LEFT JOIN SALES_PRODUCT_LIST PROD ON (CPD.PRODUCT_CODE LIKE CONCAT('%', PROD.PRODUCT_CODE, '%') AND PROD.MAIN_PRODUCT_FLAG = '1')
    LEFT JOIN  
    (
        SELECT CONTRACT_NO, SUM(CONTRACT_PRICE) AS CONTRACT_PRICE, MAX(LEVEL_CODE) AS LEVEL_CODE
        FROM SALES_CONTRACT_SI_DETAIL
        WHERE DELETE_FLAG = '0'
        GROUP BY CONTRACT_NO
    ) CSD ON (CL.CONTRACT_NO = CSD.CONTRACT_NO)
    LEFT JOIN  
    (
        SELECT CONTRACT_NO, SUM(CONTRACT_PRICE) AS CONTRACT_PRICE, MAX(PRODUCT_CODE) AS PRODUCT_CODE
        FROM SALES_CONTRACT_MA_DETAIL
        WHERE DELETE_FLAG = '0'
        GROUP BY CONTRACT_NO
    ) CMD ON (CL.CONTRACT_NO = CMD.CONTRACT_NO)
    LEFT JOIN  
    (
        SELECT PL.CONTRACT_MAIN, PL.CONTRACT_NO, SUM(PPD.CONTRACT_PRICE) AS CONTRACT_PRICE, MAX(PPD.PRODUCT_CODE) AS PRODUCT_CODE
        FROM SALES_PURCHASE_LIST PL
        LEFT JOIN SALES_PURCHASE_PRODUCT_DETAIL PPD ON (PL.CONTRACT_NO_PURCHASE = PPD.CONTRACT_NO_PURCHASE)
        WHERE PL.DELETE_FLAG = '0' AND PPD.DELETE_FLAG = '0'
        GROUP BY PL.CONTRACT_MAIN, PL.CONTRACT_NO
    ) PPD ON (CL.CONTRACT_NO = PPD.CONTRACT_NO)
    LEFT JOIN  
    (
        SELECT PL.CONTRACT_MAIN, PL.CONTRACT_NO, SUM(PSD.CONTRACT_PRICE) AS CONTRACT_PRICE, MAX(PSD.LEVEL_CODE) AS LEVEL_CODE
        FROM SALES_PURCHASE_LIST PL
        LEFT JOIN SALES_PURCHASE_SI_DETAIL PSD ON (PL.CONTRACT_NO_PURCHASE = PSD.CONTRACT_NO_PURCHASE)
        WHERE PL.DELETE_FLAG = '0' AND PSD.DELETE_FLAG = '0'
        GROUP BY PL.CONTRACT_MAIN, PL.CONTRACT_NO
    ) PSD ON (CL.CONTRACT_NO = PSD.CONTRACT_NO)
    WHERE P.DELETE_FLAG = '0'
    <if test='NONE_DATE == "0" '>
        AND DATE_FORMAT(CL.CONTRACT_DATE, '%Y%m') <![CDATA[>=]]> #{FROM_CONTRACT_DT}
        AND DATE_FORMAT(CL.CONTRACT_DATE, '%Y%m') <![CDATA[<=]]> #{TO_CONTRACT_DT}
    </if>
    <if test="CONTRACT_STATUS != null and CONTRACT_STATUS != '' ">
        AND CL.CONTRACT_STATUS = #{CONTRACT_STATUS}
    </if>
    GROUP BY P.PROJECT_CD, P.PROJECT_NM, P.CLIENT_CD, CL.CONTRACT_NO, CL.CONTRACT_MAIN,
        CASE 
            WHEN PPD.CONTRACT_MAIN IS NOT NULL THEN PPD.CONTRACT_MAIN
            WHEN PSD.CONTRACT_MAIN IS NOT NULL THEN PSD.CONTRACT_MAIN
        END
) CONT
JOIN SALES_CONTRACT_LIST CL ON CONT.PROJECT_CODE = CL.PROJECT_CD AND CONT.CONTRACT_NO = CL.CONTRACT_NO AND CL.DELETE_FLAG = '0'
AND CL.CO_CD = #{COMPANY_CODE}
LEFT JOIN SALES_PRODUCT_LIST PROD1 ON CONT.PROD_PRODUCT_CODE = PROD1.PRODUCT_CODE
LEFT JOIN SALES_PRODUCT_LIST PROD2 ON CONT.MA_PRODUCT_CODE = PROD2.PRODUCT_CODE
LEFT JOIN SALES_PRODUCT_LIST PROD3 ON CONT.PUR_PRODUCT_CODE = PROD3.PRODUCT_CODE
LEFT JOIN SALES_COMPANY_LIST COM ON CONT.CLIENT_CODE = COM.COMPANY_CD
LEFT JOIN T_SYTM_CODE CD ON CONT.SI_PRODUCT_CODE = CD.SSC_CD AND CD.HCL_CD = 'LEVEL_CODE'
LEFT JOIN T_SYTM_CODE CD2 ON CONT.PUR_SI_PRODUCT_CODE = CD2.SSC_CD AND CD2.HCL_CD = 'LEVEL_CODE'
LEFT JOIN T_SYTM_USER VE ON CL.SALES_EMP_NO = VE.EMP_NO
WHERE 1=1
<if test="PROJECT_NAME != null and PROJECT_NAME != '' ">
    AND CONT.PROJECT_NAME LIKE CONCAT('%', #{PROJECT_NAME}, '%')
</if>
<if test="CLIENT_NAME != null and CLIENT_NAME != '' ">
    AND COM.COMPANY_NM LIKE CONCAT('%', #{CLIENT_NAME}, '%')
</if>
<if test="SALES_EMP_NO != null and SALES_EMP_NO != '' ">
    AND CL.SALES_EMP_NO = #{SALES_EMP_NO}
</if>
<if test="CONTRACT_TYPE != null and CONTRACT_TYPE != '' ">
    AND CL.CONTRACT_TYPE != #{CONTRACT_TYPE}
</if>
<if test="SALES_STATUS != null and SALES_STATUS != '' ">
    <choose>
        <when test=' SALES_STATUS == "0" '>
            AND CL.SALES_STATUS NOT IN ('010', '015') <!-- 영업실패 제외 -->
        </when>
        <when test=' SALES_STATUS == "1" '>
            AND CL.SALES_STATUS NOT IN ('011', '015') <!-- 장기홀딩 제외 -->
        </when>
        <when test=' SALES_STATUS == "2" '>
            AND CL.SALES_STATUS NOT IN ('010', '011', '015') <!-- 영실, 장홀 제외 -->
        </when>
        <when test=' SALES_STATUS == "3" '>
            AND CL.SALES_STATUS = '015' <!-- 삭제상태 보기 -->
        </when>
        <otherwise>
        </otherwise>
    </choose>
</if>
ORDER BY COM.COMPANY_NM, CONT.PROJECT_CODE,
    CASE 
        WHEN CL.CONTRACT_TYPE = 'P' THEN '1'
        WHEN CL.CONTRACT_TYPE = 'G' THEN '2'
        WHEN CL.CONTRACT_TYPE = 'S' THEN '3'
        WHEN CL.CONTRACT_TYPE = 'M' THEN '4'
        ELSE CL.CONTRACT_TYPE
    END, CONT.CONTRACT_NO, CL.SALES_EMP_NO, VE.EMP_NM

</select>

</mapper>
